<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.neu.xswl.csye6225.dao.NoteDao">
    <insert id="addNote" parameterType="edu.neu.xswl.csye6225.pojo.Notes" >
        insert into notes (note_id,title,content,created_on,last_updated_on,userId)
        values (#{note_id},#{title},#{content},#{created_on},#{last_updated_on},#{userId})
    </insert>
</mapper>